<div class="modal modal-full" id="create">
  <div class="modal-close">
    {{#link-to 'home.index'}}<i class="ss-delete"></i>{{/link-to}}
  </div>

  <div class="signup-container step1">
    <h1>Confirmation Required</h1>
    <p>
      You should have received an e-mail with a link to confirm your account.
    </p>
    <p>Please click that link to continue.</p>
    <p>
      If you didn't receive the e-mail
      <a href="#">click here to re-send it</a>.
    </p>
  </div>

</div>
