.single-post {
	.modal-right {
		display: table;
		height: 100%;
	}
	.profile-cover-photo {
		padding-top: 0;
	}
	.post-cover-photo {
		display: table-cell;
		width: 100%;
		height: 100%;
		background: black;
		vertical-align: middle;
		text-align: center;

	  > img {
	    z-index: 50;
	    min-height: 128px;
	    width: 100% !important;
	    background: image-url('loading-black-128.gif') no-repeat center;
	  }
	  .post-cover-actions {
	  	position: absolute;
			z-index: 99;
			padding: 20px;
			top: 20px;
			a {
				color: #fff;
        text-decoration: none;
        font-size: 1.7em;
        margin-right: 5px;
			}
	  }
	  .media-group {
	  	position: absolute;
	  	bottom: 0;
	  	z-index: 999;
	  	overflow: hidden;
	  	width: 49.9%;
	  	height: 150px;
	  	background: #000;

			.scroll-left, .scroll-right {
				position: absolute;
				top: 0;
				z-index: 999;
				display: block;
				width: 30px;
				height: 150px;
				background: rgba(0,0,0,0.5);
				color: #fff;
				text-align: center;
				line-height: 150px;
				&:hover {
					background: rgba(0,0,0,0.9);
				}
				&:before {
					position: absolute;
					top: 50%;
					left: 5px;
					height: 0;
					font-size: 20px;
					line-height: 0;
				}
			}
			.scroll-left {
				left: 0;
			}
			.scroll-right {
				right: 0;
			}

	  	> ul {
	  		width: 100000px;
	  	}
	  	li {
	  		float: left;
	  		width: 150px;
	  		height: 150px;
	  		&.active {
	  			img {
	  				opacity: 1;
	  				&:hover {
	  					opacity: 1;
	  				}
	  			}
	  		}
	  		img {
	  			width: 150px;
	  			height: 150px;
	  			opacity: 0.4;

	  			&:hover {
	  				opacity: 0.8;
	  			}
	  		}
	  	}
	  }
	}
	.post-meta {
		position: fixed;
		overflow: scroll;
		width: 50%;
		height: 100%;
		background: #fff;
		.post-details {
			padding: 40px 6% 20px;
			background: #323232;
			border-bottom: 4px solid $color-brand;
      ul.nav {
        padding-right: 0;
        li {
          margin-top: 0;
          margin-right: 5px;
        }
        a {
          color: #fff;
          text-decoration: none;
          font-size: 1.7em;
        }
      }
		}
		.post-user-details {
			padding: 40px 0;
		}
		.post-user-photo {
			float: left;
			width: 50px;
			img {
				border-radius: 500px;
			}
		}
		.post-user-tagged {
			float: left;
			padding-left: 20px;
			width: calc(100% - 50px); // 50px is .post-user-photo width above
		}
		.post-user-name {
			display: block;
			width: 100%;
			padding-bottom: 12px;
      text-transform: capitalize;
			font-size: 28px;
			padding-top: 10px;
      a {
        color: #fff;
      }
		}
	}
	.post-description {
		padding: 0;
		border-bottom: 0;
		p {
			color: #fff;
		}
	}

	.comments {
		background: #fff;
		> ul.nav {
			padding: 20px 0 120px;
			padding-top:0;
			color: #000;
			text-shadow: none;
      li {
        padding: 20px 6%;
        &:nth-child(odd) {
        	background: #f1f1f1;
        }
      }
		}
		.comment-delete {
			position: absolute;
			right: -40px;
			top: 5px;
			color: #ccc;
			&:hover {
				text-decoration: none;
			}
		}

		p {
			font-size: 14px;
		}
	}
}
.message-meta-title {
	a {
		color: #4e4e4e;
		&:hover {
			text-decoration: none;
		}
	}
	time {
		font-size: 11px;
	}
}

.single-post.with-media-group .modal-left {
	display: table;
	height: 100%;
	padding-bottom: 150px;
}

.single-post {
	&.text-only {
		width: 50%;
	}
	&.with-media-group {
		.modal-left {
			.modal-close {
				top: 15px;
				font-size: 29px;
			}
		}
	}
}

.post-actions {
	.post-date:before {
		margin-right: 5px;
	}
}


.post-tagged {
	a {
		color: #fff;
	}
}

.modal-right {
	.post-meta .post-details ul.nav {
		margin-right: 15px;
	}
}