<ul id="posts" class="nav">
	<div class="event-by-time">
	  	{{#each event in eventActivities}}
	  		{{each-events event=event time=time}}
	  	{{/each}}
	</div>
	<div style="clear:both">
	</div>
</ul>