development:
  adapter: postgresql
  database: yostalgia_development
  host: localhost
  username:
  pool: 5
  timeout: 5000

test:
  adapter: postgresql
  database: yostalgia_test
  host: localhost
  username:
  pool: 5
  timeout: 5000
