<i class="{{unbound view.iconType}} icon"></i>
<a href="#" class="close-alert" {{action 'close' target='view'}}>
  <i class="ss-delete"></i>
</a>
<strong>
  {{view.title}}
</strong>
<p>
  {{view.content.message}}
</p>
