<section id="home" role="main">
  <div class="flexslider">
    <ul class="slides">
      <li>
        <article>
          <div class="message">
            <h1>Your life is a documentary. Remember it.</h1>
            <em>Our lives pass by with thousands of thoughts, emotions, and memories every day, keep them all in one place.</em>
          </div>
        </article>
        <div class="bg"><img src="/assets/marketing/photo1.jpg" alt=""></div>
      </li>
      <li>
        <article>
          <div class="message">
            <h1>Tiramisu brownie chupa chups donut.</h1>
            <em>Muffin croissant tart icing icing jelly-o gummi bears muffin candy canes. Halvah candy dessert pudding sugar plum applicake tootsie roll croissant lemon drops.</em>
          </div>
        </article>
        <div class="bg"><img src="/assets/marketing/photo2.jpg" alt=""></div>
      </li>
      <li>
        <article>
          <div class="message">
            <h1>Wypas donut jelly-o cotton candy.</h1>
            <em>Liquorice cheesecake marshmallow. Bonbon bear claw tiramisu chocolate cake halvah chupa chups. Marshmallow marzipan fruitcake pie.</em>
          </div>
        </article>
        <div class="bg"><img src="/assets/marketing/photo3.jpg" alt=""></div>
      </li>
      <li>
        <article>
          <div class="message">
            <h1>Cake chupa chups brownie biscuit bear claw.</h1>
            <em>Caramels chocolate tart icing sugar plum bonbon jelly beans carrot cake bear claw. Soufflé biscuit dessert.</em>
          </div>
        </article>
        <div class="bg"><img src="/assets/marketing/photo4.jpg" alt=""></div>
      </li>
      <li>
        <article>
          <div class="message">
            <h1>Dragée pudding chocolate wafer cupcake.</h1>
            <em>Chocolate cake cheesecake wypas croissant donut jelly jelly-o. Cupcake biscuit candy candy canes. Applicake wypas jelly chocolate bar toffee.</em>
          </div>
        </article>
        <div class="bg"><img src="/assets/marketing/photo5.jpg" alt=""></div>
      </li>
    </ul>
  </div>
</section>

{{ outlet }}
