<div class="modal modal-full" id="create">
  <div class="modal-close">
    {{#link-to 'index'}}<i class="ss-delete"></i>{{/link-to}}
  </div>

  <div class="signup-container step1">
    <h1>Almost there!</h1>
    <p>
      We've sent you an e-mail containing a link to confirm your account.
    </p>
    <p>Please check your e-mail to finish the signup.</p>
  </div>

</div>
